# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Archivos de configuración y datos
.env
.env.*
*.env
secrets.txt
config.ini

# Archivos de IDEs y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db